Numerics.dll filter=lfs diff=lfs merge=lfs -text
System.Private.CoreLib.dll filter=lfs diff=lfs merge=lfs -text
System.ServiceProcess.dll filter=lfs diff=lfs merge=lfs -text
System.Windows.dll filter=lfs diff=lfs merge=lfs -text
System.Xml.XmlSerializer.dll filter=lfs diff=lfs merge=lfs -text
System.Linq.Queryable.dll filter=lfs diff=lfs merge=lfs -text
System.Net.HttpListener.dll filter=lfs diff=lfs merge=lfs -text
System.Net.Primitives.dll filter=lfs diff=lfs merge=lfs -text
System.Net.Requests.dll filter=lfs diff=lfs merge=lfs -text
System.Net.ServicePoint.dll filter=lfs diff=lfs merge=lfs -text
System.Xml.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.Tracing.dll filter=lfs diff=lfs merge=lfs -text
System.Net.Security.Native.so filter=lfs diff=lfs merge=lfs -text
System.Runtime.Loader.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.Csp.dll filter=lfs diff=lfs merge=lfs -text
System.Xml.XmlDocument.dll filter=lfs diff=lfs merge=lfs -text
System.IO.FileSystem.Primitives.dll filter=lfs diff=lfs merge=lfs -text
System.Memory.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.dll filter=lfs diff=lfs merge=lfs -text
System.Security.dll filter=lfs diff=lfs merge=lfs -text
System.Transactions.dll filter=lfs diff=lfs merge=lfs -text
libmscordaccore.so filter=lfs diff=lfs merge=lfs -text
Microsoft.Win32.SystemEvents.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.Tools.dll filter=lfs diff=lfs merge=lfs -text
System.Linq.Parallel.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.Overlapped.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.FileVersionInfo.dll filter=lfs diff=lfs merge=lfs -text
System.Dynamic.Runtime.dll filter=lfs diff=lfs merge=lfs -text
System.Private.Xml.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.Primitives.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.Tasks.dll filter=lfs diff=lfs merge=lfs -text
System.Web.HttpUtility.dll filter=lfs diff=lfs merge=lfs -text
System.ServiceModel.Web.dll filter=lfs diff=lfs merge=lfs -text
System.ValueTuple.dll filter=lfs diff=lfs merge=lfs -text
Microsoft.Win32.Registry.dll filter=lfs diff=lfs merge=lfs -text
NoStreamlinesRequired.dll filter=lfs diff=lfs merge=lfs -text
System.Drawing.Common.dll filter=lfs diff=lfs merge=lfs -text
System.IO.Pipes.AccessControl.dll filter=lfs diff=lfs merge=lfs -text
System.Net.Security.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.Serialization.Xml.dll filter=lfs diff=lfs merge=lfs -text
System.Collections.dll filter=lfs diff=lfs merge=lfs -text
System.IO.Compression.Native.a filter=lfs diff=lfs merge=lfs -text
System.ObjectModel.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.Extensions.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.Timer.dll filter=lfs diff=lfs merge=lfs -text
WindowsBase.dll filter=lfs diff=lfs merge=lfs -text
libdbgshim.so filter=lfs diff=lfs merge=lfs -text
System.Buffers.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.StackTrace.dll filter=lfs diff=lfs merge=lfs -text
NoStreamlinesRequired filter=lfs diff=lfs merge=lfs -text
System.ComponentModel.Annotations.dll filter=lfs diff=lfs merge=lfs -text
System.IO.MemoryMappedFiles.dll filter=lfs diff=lfs merge=lfs -text
System.Security.AccessControl.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.OpenSsl.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.X509Certificates.dll filter=lfs diff=lfs merge=lfs -text
System.Xml.ReaderWriter.dll filter=lfs diff=lfs merge=lfs -text
libclrjit.so filter=lfs diff=lfs merge=lfs -text
libcoreclr.so filter=lfs diff=lfs merge=lfs -text
System.Numerics.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.Metadata.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.Extensions.dll filter=lfs diff=lfs merge=lfs -text
System.Text.Encoding.Extensions.dll filter=lfs diff=lfs merge=lfs -text
System.Net.Http.Native.a filter=lfs diff=lfs merge=lfs -text
System.Net.WebSockets.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.InteropServices.WindowsRuntime.dll filter=lfs diff=lfs merge=lfs -text
System.Xml.Linq.dll filter=lfs diff=lfs merge=lfs -text
LIL.pdb filter=lfs diff=lfs merge=lfs -text
Microsoft.VisualBasic.dll filter=lfs diff=lfs merge=lfs -text
System.IO.Compression.Native.so filter=lfs diff=lfs merge=lfs -text
System.Net.Security.Native.a filter=lfs diff=lfs merge=lfs -text
System.Threading.ThreadPool.dll filter=lfs diff=lfs merge=lfs -text
libhostpolicy.so filter=lfs diff=lfs merge=lfs -text
System.Data.Common.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.DispatchProxy.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Principal.Windows.dll filter=lfs diff=lfs merge=lfs -text
Oxyplot.dll filter=lfs diff=lfs merge=lfs -text
System.Collections.Specialized.dll filter=lfs diff=lfs merge=lfs -text
System.Globalization.dll filter=lfs diff=lfs merge=lfs -text
System.IO.Compression.ZipFile.dll filter=lfs diff=lfs merge=lfs -text
System.IO.FileSystem.AccessControl.dll filter=lfs diff=lfs merge=lfs -text
System.Net.WebProxy.dll filter=lfs diff=lfs merge=lfs -text
System.Security.SecureString.dll filter=lfs diff=lfs merge=lfs -text
System.Text.RegularExpressions.dll filter=lfs diff=lfs merge=lfs -text
Microsoft.Win32.Primitives.dll filter=lfs diff=lfs merge=lfs -text
MPFitLib.dll filter=lfs diff=lfs merge=lfs -text
System.ComponentModel.DataAnnotations.dll filter=lfs diff=lfs merge=lfs -text
System.IO.Pipes.dll filter=lfs diff=lfs merge=lfs -text
System.Native.a filter=lfs diff=lfs merge=lfs -text
System.Net.Mail.dll filter=lfs diff=lfs merge=lfs -text
NoStreamlinesRequired.runtimeconfig.json filter=lfs diff=lfs merge=lfs -text
System.Core.dll filter=lfs diff=lfs merge=lfs -text
System.IO.Compression.dll filter=lfs diff=lfs merge=lfs -text
System.Net.WebClient.dll filter=lfs diff=lfs merge=lfs -text
System.Net.WebSockets.Client.dll filter=lfs diff=lfs merge=lfs -text
System.Transactions.Local.dll filter=lfs diff=lfs merge=lfs -text
mscorlib.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.TextWriterTraceListener.dll filter=lfs diff=lfs merge=lfs -text
System.IO.Compression.FileSystem.dll filter=lfs diff=lfs merge=lfs -text
System.Linq.dll filter=lfs diff=lfs merge=lfs -text
System.Linq.Expressions.dll filter=lfs diff=lfs merge=lfs -text
System.Net.Http.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.Numerics.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.Serialization.dll filter=lfs diff=lfs merge=lfs -text
LIL.dll filter=lfs diff=lfs merge=lfs -text
netstandard.dll filter=lfs diff=lfs merge=lfs -text
System.ComponentModel.TypeConverter.dll filter=lfs diff=lfs merge=lfs -text
System.Net.NetworkInformation.dll filter=lfs diff=lfs merge=lfs -text
System.Private.Uri.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.Emit.ILGeneration.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.Cng.dll filter=lfs diff=lfs merge=lfs -text
System.Globalization.Extensions.dll filter=lfs diff=lfs merge=lfs -text
System.Net.dll filter=lfs diff=lfs merge=lfs -text
System.Resources.Writer.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Claims.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.Thread.dll filter=lfs diff=lfs merge=lfs -text
System.Numerics.Vectors.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.Native.OpenSsl.a filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.Native.OpenSsl.so filter=lfs diff=lfs merge=lfs -text
System.Xml.XPath.XDocument.dll filter=lfs diff=lfs merge=lfs -text
System.Drawing.dll filter=lfs diff=lfs merge=lfs -text
System.IO.UnmanagedMemoryStream.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.CompilerServices.VisualC.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.Serialization.Primitives.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.Primitives.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.Algorithms.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.Tasks.Extensions.dll filter=lfs diff=lfs merge=lfs -text
ICSharpCode.SharpZipLib.dll filter=lfs diff=lfs merge=lfs -text
libcoreclrtraceptprovider.so filter=lfs diff=lfs merge=lfs -text
OpenCL filter=lfs diff=lfs merge=lfs -text
Optimisation filter=lfs diff=lfs merge=lfs -text
System.IO.dll filter=lfs diff=lfs merge=lfs -text
System.Resources.ResourceManager.dll filter=lfs diff=lfs merge=lfs -text
System.Web.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Principal.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.dll filter=lfs diff=lfs merge=lfs -text
NoStreamlinesRequired.deps.json filter=lfs diff=lfs merge=lfs -text
System.Collections.NonGeneric.dll filter=lfs diff=lfs merge=lfs -text
System.Data.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.Debug.dll filter=lfs diff=lfs merge=lfs -text
System.Net.Ping.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.Serialization.Json.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.Tasks.Dataflow.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.Emit.dll filter=lfs diff=lfs merge=lfs -text
System.Security.Cryptography.Encoding.dll filter=lfs diff=lfs merge=lfs -text
System.ComponentModel.EventBasedAsync.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.DiagnosticSource.dll filter=lfs diff=lfs merge=lfs -text
System.dll filter=lfs diff=lfs merge=lfs -text
System.Native.so filter=lfs diff=lfs merge=lfs -text
System.Net.Http.Native.so filter=lfs diff=lfs merge=lfs -text
System.Private.Xml.Linq.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.Tasks.Parallel.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.TypeExtensions.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.Handles.dll filter=lfs diff=lfs merge=lfs -text
libsos.so filter=lfs diff=lfs merge=lfs -text
Newtonsoft.Json.dll filter=lfs diff=lfs merge=lfs -text
System.AppContext.dll filter=lfs diff=lfs merge=lfs -text
System.Collections.Immutable.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.Contracts.dll filter=lfs diff=lfs merge=lfs -text
System.IO.FileSystem.Watcher.dll filter=lfs diff=lfs merge=lfs -text
System.Xml.XPath.dll filter=lfs diff=lfs merge=lfs -text
libhostfxr.so filter=lfs diff=lfs merge=lfs -text
SOS.NETCore.dll filter=lfs diff=lfs merge=lfs -text
System.ComponentModel.Primitives.dll filter=lfs diff=lfs merge=lfs -text
System.Console.dll filter=lfs diff=lfs merge=lfs -text
System.Net.NameResolution.dll filter=lfs diff=lfs merge=lfs -text
System.Reflection.Emit.Lightweight.dll filter=lfs diff=lfs merge=lfs -text
Cloo.dll filter=lfs diff=lfs merge=lfs -text
System.Collections.Concurrent.dll filter=lfs diff=lfs merge=lfs -text
System.Net.WebHeaderCollection.dll filter=lfs diff=lfs merge=lfs -text
System.Xml.XDocument.dll filter=lfs diff=lfs merge=lfs -text
System.Text.Encoding.dll filter=lfs diff=lfs merge=lfs -text
createdump filter=lfs diff=lfs merge=lfs -text
Microsoft.CSharp.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.Process.dll filter=lfs diff=lfs merge=lfs -text
System.IO.IsolatedStorage.dll filter=lfs diff=lfs merge=lfs -text
System.Resources.Reader.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.InteropServices.RuntimeInformation.dll filter=lfs diff=lfs merge=lfs -text
System.Globalization.Native.so filter=lfs diff=lfs merge=lfs -text
System.IO.FileSystem.dll filter=lfs diff=lfs merge=lfs -text
libsosplugin.so filter=lfs diff=lfs merge=lfs -text
Patches filter=lfs diff=lfs merge=lfs -text
System.Configuration.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.TraceSource.dll filter=lfs diff=lfs merge=lfs -text
System.Drawing.Primitives.dll filter=lfs diff=lfs merge=lfs -text
System.Globalization.Calendars.dll filter=lfs diff=lfs merge=lfs -text
System.IO.FileSystem.DriveInfo.dll filter=lfs diff=lfs merge=lfs -text
System.Net.Sockets.dll filter=lfs diff=lfs merge=lfs -text
System.Private.DataContractSerialization.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.InteropServices.dll filter=lfs diff=lfs merge=lfs -text
sosdocsunix.txt filter=lfs diff=lfs merge=lfs -text
System.ComponentModel.dll filter=lfs diff=lfs merge=lfs -text
System.Runtime.Serialization.Formatters.dll filter=lfs diff=lfs merge=lfs -text
System.Xml.Serialization.dll filter=lfs diff=lfs merge=lfs -text
libmscordbi.so filter=lfs diff=lfs merge=lfs -text
System.IO.Compression.Brotli.dll filter=lfs diff=lfs merge=lfs -text
